*{
    margin:0;
    padding:0;
    font-family: cursive;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../anup.jpg);
    height: 180vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
    margin: 0px;
    position: relative;
}  

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    transition: 0.8s ease;
    text-transform: uppercase;
}


ul li a:hover{
   
    background-color: #009688;
    color: #000;
    
}
ul li.active a{
    background-color: #009688;
    color: #000;
    
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-top: 20px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left:39%;
    transform: translate(-50%-50%);
    
}

.title h1{
    color:#009688;
    font-size: 50px;
}
.button{
     position: absolute;
    top: 65%;
    left:40%;
    transform: translate(-50%-50%);
    
}
.button{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: darkblue;
    text-decoration: inherit;
    transition: 0.7s ease;
}

.button:hover{
    background-color: blueviolet;
    color: #000;
    
}